# Configurações para produção no Render
NODE_ENV=production
PORT=3001

# Configuração do Puppeteer para Render
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome
RENDER=true

# Configurações opcionais
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true